.hero{

background:#2563eb;

color:white;

padding:100px 20px;

text-align:center;

}



.hero h1{

font-size:50px;

margin-bottom:20px;

}



.hero p{

font-size:20px;

}



.hero-buttons{

margin-top:30px;

}



.hero button{

padding:15px 30px;

margin:10px;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}



.stats{

display:flex;

justify-content:center;

gap:40px;

padding:50px;

}



.stats div{

background:white;

padding:30px;

width:200px;

text-align:center;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}



.stats h2{

color:#2563eb;

font-size:35px;

}