.jobs-page{

padding:50px;

}



.jobs-page h1{

text-align:center;

color:#2563eb;

margin-bottom:40px;

}



.jobs-container{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(300px,1fr));

gap:25px;

}